#background
#content
  h1
    |entretenez et développez votre mémoire
  hr
  h2
    |de bonnes raisons d'entretenir votre mémoire
  #grid-selector
    .col
      .content--links
        img(src="http://fakeimg.pl/64")
        br
        strong Stimuler ses capacités d'apprendre,
        br
        |que l'on soit étudiant, en activité 
        |ou passionné pour une discipline qui
        |sollicite la mémoire
    .col
      .content--links
        img(src="http://fakeimg.pl/64")
        br
        strong Préserver son capital mémoire
        br
        |et assurer son efficience pour l'avenir.
    .col
      .content--links
        img(src="http://fakeimg.pl/64")
        br
        strong Développer sa créativité
        br
        |puisque nos capacités créatives 
        |dépendent de notre mémoire.
  #textcols
    p.textcol
      |Cupcake ipsum dolor sit amet wafer. Sweet dragée lollipop carrot cake gummi bears. I love sweet roll I love pudding powder. Candy topping I love dessert cookie cookie. Cookie jujubes jelly dragée. Donut icing tart jelly-o brownie biscuit danish. Sugar plum dessert pudding marshmallow candy canes. Cotton candy I love bonbon pastry tart caramels. Candy canes fruitcake tootsie roll donut chocolate bar muffin. Lollipop candy canes jujubes chocolate pie halvah bear claw. Fruitcake sweet roll chocolate bar wafer jujubes. Icing sweet halvah biscuit.
    p.textcol
      |Cupcake ipsum dolor sit amet wafer. Sweet dragée lollipop carrot cake gummi bears. I love sweet roll I love pudding powder. Candy topping I love dessert cookie cookie. Cookie jujubes jelly dragée. Donut icing tart jelly-o brownie biscuit danish. Sugar plum dessert pudding marshmallow candy canes. Cotton candy I love bonbon pastry tart caramels. Candy canes fruitcake tootsie roll donut chocolate bar muffin. Lollipop candy canes jujubes chocolate pie halvah bear claw. Fruitcake sweet roll chocolate bar wafer jujubes. Icing sweet halvah biscuit.
