#header
  .separ
  img(src='http://fakeimg.pl/36/')
  nav
    a(href='#') évaluations mémoire
    a(href='#') programmes mémoire
    a(href='#') nos événements
    a(href='#') contact
  nav#nav2
    a(href='#') twitter
    a(href='#') facebook
    a(href='#') g+
.separ
