doctype html
html
  head
    meta(charset='utf-8')
    title Mens-Sana
    link(rel='stylesheet' href='./styles/style.css')
  body
    include ./partials/header
    include ./partials/contenu
    include ./partials/footer
    script(src='scripts/index.js')