body{
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Helvetica Neue", Arial, "Sans Serif";
}

a{
  text-decoration: none;
  color: black;
}

h1{
  font-size: 2.5em;
  font-style: italic;
  display: block;
  width: 12.5em;
  margin: auto;
  text-align: center;
}

#header{
  font-size: 1em;
  height: 39px;
  width: 100%;
  display: block;
  padding: 0;
}

.separ{
  background-color: #002060;
  width: 100%;
  height: 3px;
  margin: 0;
  padding: 0;
}

#header img{
  margin: 0;
  display: inline-block;
}

#header nav{
  display: inline-block;
  margin: 0;
  vertical-align: top;
  margin-top: 9px;
}

#nav2{
  position: absolute;
  right: 0%;
}

#header a{
  text-decoration: none;
  display: inline-block;
  margin: 0 .6em;
}

#background{
  width: 100%;
  height: 300px;
  margin: 0;
  background-image: url(http://i.imgur.com/pTvseiU.jpg);
  background-attachment: fixed;
}

#content{
  display: block;
} 

h2{
  text-align: center;
}

#grid-selector{
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-top: 2em;
}

.col{
  display: table-cell;
  text-align: center;
}

.content--links{
  color: white;
  display: inline-block;
  vertical-align: top;
  width: 13.75em;
  height: 13.75em;
  background-color: rgba(0, 32, 96, .75);
  border-radius: .5em;
  text-align: center;
  padding: 0 .5em;
  vertical-align: bottom;
}

.content--links img{
  margin: .4em;
}

#textcols{
  display: block;
}

.textcol{
  display: inline-block;

}